.navbar {
  width: 100%;
  display: flex;
  padding: 0.4rem 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  box-sizing: border-box;
}

.navbar-logo {
  width: 124px;
  height: 50px;
  margin-left: -3%;
}

.navbar-title {
  flex: 1;
  margin-right: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #3f51b5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logout-icon {
  font-size: 1.5rem;
  color: #3f51b5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-icon:hover {
  color: #303f9f;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.4rem;
  }

  .navbar-logo {
    width: 80px;
    height: 30px;
  }

  .navbar-title {
    font-size: 1.2rem;
    margin: 0;
  }

  .logout-icon {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0.4rem 0.8rem;
  }

  .navbar-logo {
    width: 100px;
    height: 40px;
  }

  .navbar-title {
    font-size: 1.5rem;
    margin-right: 3%;
  }

  .logout-icon {
    font-size: 1.4rem;
  }
}
